body {
    background-color: #68D1F6;}

h1 {
  background-color: white;}
h2 {
  background-color: #D5D5D5;}
ul {
  background-color: #34444F;}
ol {
  background-color: #0096DB}

header {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    font-family:"Helvetica";
}

h1,h2 {
    font-family:"Helvetica";}
